@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/*   alert  */

.loading {
  display: flex ! important;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  height: 4rem;
  border-radius: 1rem;
  color :rgb(217, 255, 255);
  background: linear-gradient(90deg,#a2cbd8 , #20af97);
}

.loadingForm {
  display: flex ! important;
  color: #ffffff;
}



.loadingPlay {
  display: flex !important;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  height: auto;

}
.success {
  color:rgb(35, 141, 3);
  font-weight: bold;
}


.danger{
  color: #db6565;
}

.alert {
  margin: 1rem;
  padding: .5rem;
  border: .1rem solid #ced2d8;
  border-radius: .5rem;
}

.alert-info {
  color: #e66a4b;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(173, 175, 164);
}
.alert-danger {
  color: #794646;
  background-color: #ffd3d3e0;
}

.alert-success {
  color: #3f6919;
  background-color: #c6eeb7e0;
}


#changePassword {
  margin-bottom: auto;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./icons/istockphoto-1128687119-612x612.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




html{
  font-size: 62.5%; 
  -webkit-user-drag: unset;
  box-sizing: border-box;
 
}

body{
  font: 1.6rem halvetica;
  height: 100vh;
  margin: 0;
}
#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  
}

.header{
  grid-area:header ;
  background:linear-gradient( 90deg,#a925e2 , #c76fec,#a925e2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position:sticky;
  top:.1rem;
  z-index: 2;

}
.cart-icon {
  position: relative;

}
.badge{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #88ff00b2;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: .4rem .5rem .4rem .4rem;
  font-size: 1rem;
  margin: .2rem;
  position: absolute;
  right: .1rem;
  top: 1rem;
  width: .7rem;
  height: .7rem;
  
}


.brand a{
  color: rgba(255, 255, 255, 0.74);
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.brand a:hover {
  color: #819191;
}
.header-links {
  display: flex;
  flex-direction: row;
  width: auto; 
}


.header-links> *{
  padding-right: 2rem;
}


.header-links >a{
  color: rgba(253, 252, 253, 0.74);
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.header-links a:hover{
 color:#a4a5a1;
 
}

.header input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  width:  50rem;
}




.main{
  grid-area: main;
}

.footer{    
  grid-area: footer;
  background-color: rgba(225, 225, 225, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: auto;
  backdrop-filter: blur(6px);
}

/*home*/

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  
}




.product{
  backdrop-filter: blur(6px);
  border-radius: 1rem;
  width: auto;
  box-shadow: 3px 3px 10px #575656c4,
              -3px -3px 10px #575656c4,
              3px 3px 10px #575656c4,    
              -3px -3px 10px #575656c4 
 
}
.product-details {
 
  padding: 1rem;
  background-color: rgba(218, 216, 216, 0.2);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  
}
.product-details div{
  
  padding: .5rem;
  font-weight: bold;
}

.products li{
  list-style-type: none;
  flex: 0 1 ;
  margin:2rem;
  padding: 2rem;
  

}

.product-image{
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
}


img{
  max-height: 25rem;
  width: 25rem;
  padding: auto;
  box-shadow: 1px 1px 12px #a79d9dc4,
              -1px -1px 12px #a79d9dc4,
              1px 1px 12px #a79d9dc4,    
              -1px -1px 12px #a79d9dc4;
  border-radius:1rem ;
}



.product-name{
  font-size: 2rem;

}
.product-brand{
  font-size: 1.5rem;
  color:#493d25;
}
.product-price{
  font-size: 2.2rem;
 
}
.product-rating{
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.products a{
  margin: 2rem;
}

a{

  text-decoration: none;
  font-weight: 800;
  font-size: large;
  
}
a:hover{
  font-weight: bolder;
  color:#002657;
}

/*sidebar*/

.brand button {
  font-size: 2.5rem ;
  padding: .1rem;
  background: none;
  color:#ffffff;
  border: none;
  margin: .1rem;
  width: 3rem;
  cursor: pointer;
  outline:unset ;
}

 .sidebar {
  position: fixed;
  transform: translateX(-40rem);
  width: 20rem;
  padding:1rem ;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  height: 100%;
  z-index: 2;
  top: 5rem;
}

.sidebar.open {
  transform: translateX(0);
  outline:unset;
}
.open{
  color: rgba(112, 22, 216, 0.74);
  
}

.sidebar-close-button {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  background-color: rgb(104, 238, 231);
  font-weight: bolder;
  border: .1rem #a1cfdb solid;
  box-shadow: 2px 2px 10px #5d7573 
              -2px -2px 10px #5d7573 ;
  color: #5d7573;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: .8rem;
 
} 


.sidebar-list {
  font-size: 1.5rem;
  font-weight:600;
  list-style-type: none;
  
}
h3{
  color: #012510;
  width: 20rem;
}
.sidebar a{
  color: #701bb6;
}

/* productScreen details page*/
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #ffffff23;
  backdrop-filter: blur(6px);
  
}

.details-image{
  flex: 2 1 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}
.details-image img{
  min-width:40rem ;
  min-height: 40rem;
  border-radius: 20px;
 
}
.details-info{
  flex: 1 1 30rem;
  color: #c0c0c0;

}
.details-info h4 {
  text-transform: uppercase;
}

.details-action{
  flex:1 1 30rem;

}
.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li{
  margin-bottom: 1rem;
}
.discription{
  text-indent: 2rem;
}



/* back to results */
.back-to-results{
  padding: 1rem ;
  background-color: transparent;
  backdrop-filter: blur(6px);
}
.back-to-results a{
  color:#4b3100;
}

/* details action*/
.details-action{

  border-radius:1rem;
  border: .3rem #808080 solid ;
  background-color: rgb(168, 167, 168);
  padding: 1rem ;
  max-width: 35rem;
  margin-right: 3rem;
}
.details-action ul li:last-child{
  display:flex;
  flex-direction: column;
}

select,
.button{
  padding: 1rem;
  border:.1rem #e9b674 solid ;
  cursor: pointer;
  border-radius: .7rem;
  font-weight: bolder;
  color: #504e4c;
  width: 100%;
  margin: auto;
  outline: unset;
  transition: background .3s;
  transition: color .3s;
}
select {
  width: auto;
  margin-left: 1rem;
  padding: .4rem;
  background-color: rgb(255, 255, 255);
  border-radius: .7rem;
}
select:hover{
  background-color: #ecd6c0;
}


.button:hover{
  color: rgb(255, 254, 254);
  background: #c55fee;
  
}
#button{
  
  padding: 1rem;
  border:.1rem #e9b674 solid ;
  cursor: pointer;
  border-radius: 1rem;
  color: #fd0000;
 
}
#button:hover{
  background-color: white;

}

.showButton{
  background-color: unset;
  cursor: pointer;
  color: #0821ff;
  border-bottom:.1rem solid rgb(49, 35, 240);
  
}
.showButton:hover{
  color: #37034e;
  border-bottom:.1rem solid rgb(249, 248, 255);

}

/* ................  CART ......................*/

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  align-items: flex-start;
  z-index: 0;
  backdrop-filter: blur(6px);

}

.cart-list {
  flex: 3 1 60rem;
  color:#fff;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: rgba(225, 225, 225, .2);
  /*backdrop-filter: blur(3px);*/
  border-radius: .7rem;
  padding: 2rem;
  margin: 2rem;
}


.cart-list-container{
  list-style-type: none;
  flex-wrap: wrap;
  padding: 1rem;
  
}

.cart-list-container li{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom:.15rem #dbd1d1 solid;
  margin : 1rem ;
  padding: 2rem;
  max-height: 20rem;
  text-align: right;
  

}
.cart-list-container li:first-child{
  max-height: 5rem;
  text-align: right;
}
.cart-list-container li:first-child h3 {
  color: #f1f5ab;
}

.cart-list-container li:last-child{
  border: unset;


}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
  box-shadow:  2px 2px 5px #969491,
               2px 2px 5px #969491,
               -2px -2px 5px #969491,
               -2px -2px 5px #969491;

}

.cart-image {
  flex: 1 1;
  margin: auto;
}

.cart-name {
  flex: 3 1;
  text-align: left;
  padding: auto;
  height: 100%;
  margin: auto;
  margin-right: 1rem;


}
.cart-qty {
  flex: 2 1 ;
  font-size: 2.5rem;
  margin: auto;
  text-align: center;
}

.cart-price {
  flex: 3 1;
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto;
  padding: 2rem;
 
}
.cart-delete {
  flex: 3 1 ;
  font-size: 2.5rem;
  text-align: end;
  font-weight: bold;
  margin: auto;
 
}

#cart-h3 {
  font-size: 2.5rem;
}
.cart-name div {
margin: 1rem;
font-weight: 800;

}

.empty-cart{
  padding: 10rem;
  font-size: 3rem;
  font-weight: bolder;
  color: #ff0000a9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.delete-button{
  border: .1rem #dfbf09 solid;
  padding: .7rem;
  border-radius: .5rem;
  margin:1rem;
  background-color: #ffffff;
  cursor: pointer;
}
.delete-button:hover{
  background-color: #e4acac;
}


.push-button{
  border-radius: 1rem;
  width: 20rem;
  height: 3rem;
  margin:3rem;
  background-color: #da8939;
  border: .1rem solid;
}


/*...............................F...O....R...M...................................*/
.form-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding:  2rem;
}

.form-profile form{
  width: 50rem;
  border: .1rem solid gray;
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  background: linear-gradient(125deg ,rgb(240, 211, 150) ,transparent ,rgb(243, 212, 212));
}



.form-profile div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-profile label {
  margin: 3rem;
}
.form-profile button{
  margin: unset;
  
}



.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.form .form-container {
  margin: unset;
}

.form-container {

  display: flex;
  flex-direction: column;
  width: 50rem;
  padding: 2rem;
  border: .1rem #f0f0f0 solid;
  border-radius: 0 5rem ;
  list-style-type: none;
  backdrop-filter: blur(15px);
  background-color: rgba(231, 176, 245, 0.541);
  box-shadow: 5px 5px 20px #4e4b4bc4,
              5px 5px 20px #d6cfcfc4;


}
.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

}

.form-container li div{
  margin: 1rem;
}

.form-container li div input{
  margin: 2rem;
}

.form-container li  label{
  color: #37034e;
}


input {
  color:#233233;
  padding: 1rem;
  position: relative;
  text-indent: 2rem;
  font-weight: 700;
  background-color: transparent;
  border: unset;
  border-bottom: .15rem #be8046 solid;
  outline:unset;
}
input :hover{
  background-color: transparent;
  border: unset;
  box-shadow: 5px 5px 20px #6e6969c4,
              -5px -5px 20px #d6cfcfc4;
  
}


input[type =password]{
  color:#701bb6;
}

form {backdrop-filter: blur(6px);}

form .button{
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: unset;
  background-color:#e68cda;
  
}
form .button:hover{
  background-color: #c033e4;
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 20px #777171c4,
              5px 5px 20px #d6cfcfc4;

}

.form-container .specialchild a{
  text-align: center;
  margin: 1rem;
  padding:1rem; 

}

.form-container .specialchild a:hover{
  border-radius: 1rem;
  box-shadow: 5px 5px 20px #777171c4,
              5px 5px 20px #777171c4
}
.form-container .addProductbutton {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: .01rem #c9c7cc  solid;
  margin-top: 2rem;
  background-color: rgba(225, 225, 225, .3);
  font-weight: bold;
  color:#ffffff;
}

.form-container .addProductbutton:hover{
  background-color: #d26bff;
  cursor: pointer;
  box-shadow: 5px 5px 20px #777171c4,
              5px 5px 20px #d6cfcfc4;
}



.form-container li:first-child{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  color: #53ecf7;
  
}

label {
  font-weight: bold;
  margin: .5rem;
  color: #012510;
}

 textarea {
  color:#701bb6;
  padding: 1rem;
  resize: none;
  outline: unset;
  border: unset;
  margin: 1rem;
  text-indent: 2rem;
  font-weight: 700;
  background-color: transparent;
  border-bottom: .1rem #be8046 solid;
 
}


.email i { 
  position: absolute; 
  top: 35rem;
  z-index: 1;
  
} 
 

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 







/*/////////////profile///////////////*/

#profileName {
  font-size: 2rem;
  color: #daf0ee;
  padding: 1rem;


}

.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;

}
.dropdown-content {
  list-style-type: none;
  position: absolute;
  display: none;
  margin: unset;
  padding: 1rem;
  top: 4rem;
  z-index: 1;
  border-radius: 1rem 0 1rem 1rem;
  background-color: #8cdada;
 
}
.dropdown-content li {
  width: 11rem;
  margin: .5rem;
  margin-right: 0;
}
.dropdown-content li > a{
  color: #ffffff;
}


.dropdown-content a {
  font-size: 1.3rem;
  transition: font-size .5s;
  transition: color .5s;
 
}
.dropdown-content a:hover{
  font-size: 1.5rem;
  color: #f510d6;
  
 
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  display: block;
  
}


.fa-chevron-down {
  position: relative;
  top: 1rem;
  color: #fff;
  transition: color 1s
}

.dropdown:hover .fa-chevron-down{
  transform :rotate(180deg);
  top: -1rem;
}

.admin-app-dropdown {
  padding: 1rem;
}
.admin-app-dropdown>*{
  padding-left: 1rem;
}



/*************************products add ,update ,delete ************ ****************/

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}


.content-margined{
  margin: 1rem;
  align-items: flex-start;
}

.buttonEdit ,.buttonDelete{
  padding: .5rem 1rem .5rem 1rem;
  margin: .5rem;
  border-radius: 1rem;
  border: none;
  background-color:#fff;
  box-shadow: 2px 2px 10px #a09696c4,
             -2px -2px 10px #deeb94c4;
  font-weight: bold;
  color: #756a47;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  
}

.table{
  width: 100%;
  backdrop-filter: blur(5px);

}

th { 
  text-align: left;
  font-weight: bold;
  height: 6rem;
  margin-left:3rem ;
  text-indent: 2rem;
  backdrop-filter: blur(5px);


}
td { 
  
  font-weight: bold;
  margin-left:3rem ;
  text-indent: 2rem;
  border-radius: .5rem;
  
  
  
}

.imgsrc{
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: unset;
  margin-left: .5rem;
  margin: .5rem;

}


td img{

  width: 10rem;
  height: 10rem;
  z-index: 10;
  box-shadow: unset;
  
 
}



thead{
  margin-bottom: 2rem;
}

thead tr{
  height: 4.5rem;
  padding: 3rem;
  background-color: #8800f8c4;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
thead tr th{
border-radius: 1rem;

}

tbody > tr:nth-child(even){
  background-color:#deb0f3;
  border: .1 rem  #9de9f3 solid;
  border-radius: .5rem;
}
tbody > tr:nth-child(odd){
  background-color: #ffd9c2;
  border-radius: .5rem;
  border: .1 rem  #5b787c solid;
}


#addProduct{
  color: #efedf3;
  width: 20rem;
  margin: 2rem;
  background-color: #c4e5fa63;
  border: none;


}
#addProduct:hover {
  backdrop-filter: blur(6px);
}


h2{
  padding: 0;
  margin: 5rem;
  text-align: center;
  padding: 3rem;
  color: #f6f3f7;
  border-bottom: .1rem #f0f0f0 solid;
}

h4{
  text-align: bottom;
  margin: 0;
 padding-bottom: .2rem;
}

/* ____________________ChehckoutSteps______________*/

.checkoutsteps {
  display: flex;
  justify-content: space-between;
  width :50rem;
  margin: 1rem auto;
}
.checkoutsteps> div{
  border-bottom: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  text-align: center;
  margin: .1rem;
  padding: 1rem;
  
}
.checkoutsteps> div.active{

  border-bottom: .3rem #e664af solid;
  color: #e664af;
}

.shipping{
  all: unset;

}

/*......................payment.....................*/


#paymentDiv{
  padding: 1rem;
  color: #f1c0e0;
} 

.paymentMethod {
  border: none;
  /*box-shadow: 2px 2px 10px #42584b,
              -2px -2px 10px #42584b;
  */border: .1rem solid rgb(128, 128, 128);
  border-radius: 1rem;
  padding: 2rem;
}



/*.................place order.................*/

.placeorder{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
  color: rgb(69, 6, 85);

}

.placeorder-list{
  flex: 3 1 40rem;
  backdrop-filter: blur(6px); 
 
}
.placeorder-list div{
  border: .2 #c98f8f solid;
}


.placeorder-action{
  flex:  1 1 10rem;
  border: .1rem #c0c0c0 solid ;
  border-radius:1rem;
  background-color:#99d6ff8e;
  padding: 1rem;
  margin: 1rem;
  height: 35rem;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul >li{
  display: flex;
  margin: 1rem;
  font-weight: bold;
  justify-content: space-between;
  color :rgb(245, 241, 244);
}
.placeorder-action > ul >li:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: none;
}
.placeorder-action > ul >li h3{
  color: #7d24a0;
}


.placeorder-action > ul >li:nth-child(6){
  font-size: 2rem;
  font-weight: bolder;
  color: #7a7470;
}

.placeorder-action button{
  color: #fff;
  background-color: transparent;
  border: .05rem #da8939 solid;;
}
.placeorder-action button:hover{
  background-color: #70b9e9;
  box-shadow:  2px 2px 5px #b6b5b5,
               2px 2px 5px #b6b5b5,
               -2px -2px 5px #b6b5b5,
               -2px -2px 5px #b6b5b5;
}
.placeorder-info{
  border: .2rem #f0dfdf solid;
  margin: 1rem;
  border-radius: 1rem;
  padding:2rem;
  background-color: #ffffff2d;
}
.placeorder-info h3 {
  color: rgb(233, 66, 66);
}

.placeorder-list-container{
  padding: 0;
  list-style-type: none;
  padding: 1rem;
  
}

.placeorder-list-container li{
  display: flex;
  justify-content: space-between;
 
  border-bottom:.15rem #ac3030 solid;
  margin: 1rem;
  max-height: 20rem;
}

.placeorder-list-container li:first-child {
  color: rgb(250, 133, 201);
}


.placeorder-list-container li img {
  width: 10rem;
  height: 10rem;
  box-shadow:  2px 2px 10px #8f8c88,
               2px 2px 10px #8f8c88,
               -2px -2px 10px #8f8c88,
               -2px -2px 10px #8f8c88;

}

.placeorder-image {
  flex: 1 1;
  margin: auto;
}

.placeorder-name {
  flex: 2 1;
  margin: 2rem;
  overflow: hidden;

}
.placeorder-qty {
  flex: 1 1 ;
  padding: 5rem;
  font-size: 2.5rem;
}

.placeorder-price {
  flex: 2 1;
  margin: auto;
  font-size: 2.5rem;
  text-align: right;
  font-weight: bold;
 
}
.placeorder-subtotal {
  flex: 3 1;
  margin: auto;
  font-size: 2.5rem;
  text-align: end;
  font-weight: bold;
 
}

#placeorder-h4{
  font-size: 2rem;
  
}
.placeorder-name div {
margin: 1rem;
font-weight: 800;

}

.addess-div h3{ 
  color: rgb(233, 66, 66);
}
/*_____________________________________________________*/
#addmorebutton {
  width:15rem;

}

.order-id {
  backdrop-filter: blur(6px);
  color :rgb(104, 238, 231)
}






/* Center the loader */

#myDiv{
  display : none;
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }


  span {
    text-align: center;
    color:#ffe7ffc0
  }


  


  /**********************Admin users *******************/

  .users{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1rem;
    padding:  1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    border: .2rem solid white;
    background-color: transparent;
    

  }

  .name {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(174, 185, 112);
    
  } 

  .name div{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    
  }
  .name div b {
    color: #6e57c2;
  }
  #nameBold{
    text-transform: uppercase;
  }

  .user-details {
    margin-left: .5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #afb39d;
    
  }
  .user-details div b {
    color: #6e57c2;
  }


  .user-details div{
    display: flex;
    flex-direction: row;
    padding: .5rem;
  }

  .userImage{
    margin-left: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    background-color: #c8cc92;
    border-radius: 1rem;

  }
  .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    height: 15rem;
    width:50%; 
    overflow: hidden;
   }

  .userImage .imageBox .imgBoxInner {
    width: 15rem;
    height: 15rem;
    box-shadow: unset;
    border: .1rem solid gray;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .imgBoxInner img {
    width: 15rem;
    height: auto;
    box-shadow: unset;
    border: .1rem solid gray;
    border-radius: unset;
    margin: unset;
  }

  .info {
    color: rgb(78, 7, 57);
  }
  

  .user b{
    text-indent: 2rem;
  }
  .user h4 {
    color: rgb(250, 255, 220);
  }

  .user b{
    color: #fff;
    margin: none;
    padding: none;
  }

  .usersList h1 {
    font-size: 5rem;
    text-align: center;
    color: #e999e1;

  
  }
 

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 50%;
  }

 #noOrders {
   color: #e65757;
 }

 .noOrders {
   width: 100%;
   background-color: #afd3ebb7;
 }



/*   ----------------order--------------------   */

.orderLists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.orderList button:hover {
  background-color: #ff9abc;
}
.orderList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background-color: #aaeee3;
  margin: 2rem;
  border-radius: 1rem;
}
.orderListname{
  display: flex;
  flex-direction: row;
  height: 8rem;
  padding: .5rem 1rem .5rem 1rem ;
}
.orderListname div {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.orderListname div h4 , .orderListDetails div h4{
  color: #644d4d;
  font-size: 1.8rem;
  text-decoration: underline;
}


.orderListname div b{
  color : #c734d4
}


.orderListDetails {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem .5rem 1rem ;
}
.orderListDetails div h4 {
  color: #644d4d;
}

.orderListDetails div {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}


/****************DASAHBOARD *****************/


.dashboard{
    display: flex;
    backdrop-filter: blur(6px);
  }

  .charts{
    height: 50rem;
    width: 100rem;
  }

  .navigation{
    background-color: rgb(78, 109, 109);
    height: 70rem;
    width: 30rem;
  }

  .navigation ul {
    list-style-type: none;
    padding: 2rem;
  }

  .navigation button {
    border: unset;
    background-color: transparent;
    font-size: larger;
    width: 100%;
    text-align: left;
    text-indent: 1rem;
    outline: unset;
    padding: 2rem;
    letter-spacing: 1px;
    border-bottom: .1rem solid white;
    color: rgb(126, 164, 199);
  }

  .navigation h1{
    color: rgb(181, 184, 153);
  }


  .play1 ,.play2,.play3{
     color:#ff7300;
     text-shadow: #3f6919;
     letter-spacing: 1rem;
  }
  .play1{
    animation: animate 2s 0s infinite  ;
  }
  .play2 {
    animation: animate 2s  .15s infinite  ;
  }
  .play3 {
    animation: animate 2s .3s infinite  ;
  }

  @keyframes animate {
    0% ,100%{
      opacity: 0%;
    }
  
    50% {
      opacity: 100%;

    }
  }

/*                               main screen components                    */


  .main-button {
    text-align: center;
    padding: 2rem 10rem;
    border-radius:1rem 0 1rem 0;
    background-color: #af4cf1;
    cursor: pointer;
    outline: none;
    border: .2rem  solid #ce9eee ;
    transition: border-radius .5s ;
    z-index: 100000;

  }
  .main-button:hover{
    border-radius:0 1rem 0 1rem;
    background-color: #9dfd84;
   

  }
  
  .main-button span {
    margin-left: 2rem;

  }
  .main-button span i{
    position: absolute;
    padding-left: 1rem;
    transition: padding-left 1s ;

  }

  .main-button:hover span i {
    padding-left: 4rem;

  }

  .mainscreen  {
    width: 100%;
    height: 100%;
    background-color: #d993ee;
    z-index: -5;
    background: linear-gradient(90deg , #bc81d8 , #db4eee);
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; 
    
  }

  .image img{   
    position: absolute;
    border-radius: .05rem solid gray ;
    height: 100%;
    width: 100%;

  }

  .container{
    display: flex;
    flex-direction: column;

  }
  .container  strong{
    font-size: 10rem;
    background: -webkit-linear-gradient(rgb(183, 212, 116), rgb(122, 233, 155));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10000;
    
    
    
  }
  .tagline{
    padding: .5rem;
    color: #b8bbba;
    border-radius: .5rem;
    font-size: 4rem;
    position: absolute;
    top: 25rem;
    left: 15rem;
    transition: color 1s linear;
    cursor: pointer;
    background-color: rgba(153, 147, 147, 0.342);
  }

  .tagline:hover{
    color: #fffefe;
    backdrop-filter: blur(2px);
  }


  .brand-name {
    padding: 5rem; 
    cursor: pointer; 
  }
 

  .brand-quote {
    padding-left: 12rem;
    padding-top: 13rem;
    font-size: 3rem;
  }
  .brand-quote text {
    display: flex;
    flex-direction: column;
  }

  .brand-quote text{
    position: absolute;
  }

  .brand-quote text .span1 {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: start;
    color :#687e6b;
    border-radius: .5rem;
    width: 40rem;
    background-color: rgba(238, 245, 201, 0.61);
    transition: color 1s,left 1s ,opacity 1s;
    cursor: pointer;
    position: relative;
    left:-30rem;
    opacity: 0;
    
  }
  html:hover .brand-quote text .span1{
    left: 15rem;
    opacity: 1;
  }

  .brand-quote text .span1:hover{
    color: rgb(28, 105, 28);
    backdrop-filter: blur(2px);
  }

  .brand-quote text .span2 {
    padding: 1rem;
    text-align: center;
    color :#687e6b;
    background-color: #ffffff69;

    transition: color 1s , left 1.5s  ,opacity 1.5s;
    cursor: pointer;
    position: relative;
    left:-30rem;
    opacity: 0;
   
    
  }
  html:hover .brand-quote text .span2{
    left: 20rem;
    opacity: 1;
  }
  
  .brand-quote text .span2:hover{
    color: rgb(28, 105, 28);
    backdrop-filter: blur(2px);
  }
  .main-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .img{
    border:none;
    position: absolute;
    height: 30rem;
    width: 20rem;
    right: 2rem;
    top:5rem;
    box-shadow: unset;
    animation: vegitables-card 3s infinite ease;
  }

  @keyframes vegitables-card {
    0% ,100%{
      top : 5rem;
    }
    50% {
      top : 20rem;
    }
  }

  .pngimg{
    position: absolute;
    border: none;
    box-shadow: unset;
    height: 30rem;
    right: 30rem;
    top:7rem;
    animation: vegitables-card2 3s infinite ease;

  }
  @keyframes vegitables-card2 {
    0% ,100%{
      top : 5rem;
    }
    50% {
      top : 7rem;
    }
  }

  .pngimg2{
    position: absolute;
    border: none;
    box-shadow: unset;
    height: 20rem;
    left: 10rem;
    top:45rem;
    animation: vegitables-card3 2s infinite ease;
    animation-delay: 4s;

  }
  @keyframes vegitables-card3 {
    0% ,100%{
      left : 10rem;
    }
    50% {
      left : 12rem;
    }
  }

  .creater {
    position: absolute;
    top: 90%;
    left: 80%;
  }
  .creater text{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  #crt-strong{
    font-weight: bolder;
    font-size: 2rem;
    color: gray;
  }
  #creater 
  {
    font-size: 2.45rem;
    font-weight: bolder;
    color: rgb(72, 117, 72);
  }
  #createrInf0 {
    font-size: 2rem;
    font-weight: bolder;
    color: #5c4d3a;
  }

  .image_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    padding: 0;
  }

  .image_div .img-profile{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: unset;
    overflow: hidden;
    
  }
  .img-profile img {
    margin: unset;
    padding: unset;
  }
  
  .image_src_app {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
  }
  .image_src_app img {
    width: 2rem;
    height: auto;
    box-shadow: unset;
  }